body,html
{
	height: 100%;
	font-family: 'Lato';
}

.bg
{
	height: 100%;
	background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.6)),url("../images/index.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.row div a
{
	color: white;
	font-size: 20px;
	/*font-family: 'Lato';*/
}

a:hover
{
	text-decoration: none;
	font-style: italic;
}

#login, #sign
{
	color: white;
}

#main-container
{
	height: 5%;
}

.index-container
{
	height: 80%;
}

#pname h1
{
	padding-top: 60px;
}

h1
{
	font-size: 55px;
	color: #FFEBCD;
	text-decoration: underline;
	text-shadow: 3px 4px black;
	font-family: 'Comic Sans MS';
}

cite
{
	color: white;
	background-color: rgba(0,0,0,0.6);
}

.index-container .row
{
	height: 50%;
}

#home-btn
{
	padding-top: 30px;
}

#home-btn a
{
	font-size: 22px;
	color: black;
	background-color: gold;
	/*font-family: 'Lato';*/
}

#home-btn a:hover
{
	font-style: italic;
	text-shadow: 1px 1px floralwhite;
}

#slogan-container
{
	height: 15%;
}

.slogan
{
	font-size: 18px;
	color: floralwhite;
	/*font-family: 'Lato';*/
	font-style: italic;
}

#sign-modal .modal-body label
{
	font-size: 18px;
}

.modal-header, .card-header
{
	background-color: #D4AF37;
	color: floralwhite;
}

.close
{
	color: floralwhite;
}

.jumbotron
{
	min-height: 300px;
	background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(../images/homejumbo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#loginButton, nav a, nav a:hover
{
	color: white;
	font-size: 18px;
}

#search-form label
{
	font-size: 18px;
	background-color: #F5DEB3;
}

nav
{
	background-color: rgba(0,0,0,0.6);
}

#social
{
	min-height: 120px;
}

.footer
{
	background-color: #FFF8DC;
}

#social span
{
	font-size: 16px;
}

#social a
{
	color: black;
	font-size: 18px;
}

#about p, .media-body p
{
	font-size: 20px;
}

.aboutcontent
{
	min-height: 300px;
}

.card
{
	min-height: 250px;
}

.card-header
{
	font-size: 18px;
}